<section>

    
    <div class="container mt-3">
            <a href="/admin/removed-users" class="btn btn-primary float-end">Removed Users</a>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Namel</th>
                    <th scope="col">Email</th>
                    <th scope="col">DB</th>
                    <th scope="col">action</th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                <tr>
                    <th scope="row">1</th>
                    <td>{{fName}}</td>
                    <td>{{lName}}</td>
                    <td>{{email}}</td>
                    <td>{{_id}}</td>
                    <td>
                        <a class="btn btn-primary" href="/admin/view-orders/{{_id}}" onclick="return confirm('Are you want to view  {{ Name}}')">Orders</a>
                        <a class="btn btn-danger" href="/admin/remove-user/{{_id}}" onclick="return confirm('Are you want to detele  {{ Name}}')">Remove</a>
                    </td>
                </tr>
                {{/each}}

            </tbody>
        </table>
    </div>
</section>