<section>

    
    <div class="container mt-3">
            <a href="/admin/add-Product" class="btn btn-primary float-end">Add Product</a>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                    <th scope="col">Image</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <th scope="row">1</th>
                    <td>{{Name}}</td>
                    <td>{{Category}}</td>
                    <td>{{Description}}</td>
                    <td>{{Price}}</td>
                    <td><img src="/images/product-images/{{_id}}.jpg" style="width: 50px; height: auto;" alt=""></td>
                    <td>
                        <a class="btn btn-primary" href="/admin/edit-product/{{_id}}" onclick="return confirm('Are you want to edit  {{ Name}}')">Edit </a>
                        <a class="btn btn-danger" href="/admin/delete-product/{{_id}}" onclick="return confirm('Are you want to detele  {{ Name}}')">Delete</a>
                    </td>
                </tr>
                {{/each}}

            </tbody>
        </table>
    </div>
</section>